<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>909912832225-jcrjspraojsrce14aqo4pt3mpjvhov6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909912832225-jcrjspraojsrce14aqo4pt3mpjvhov6m</string>
	<key>API_KEY</key>
	<string>AIzaSyDvW67FuSWZ4BEXo5tBsg0Mt9wLHb3ZiiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>909912832225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sdu.edu.kz.271192.SimpleFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>aidanafirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>aidanafirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909912832225:ios:0e035d58fa9bb7b8</string>
	<key>DATABASE_URL</key>
	<string>https://aidanafirebase.firebaseio.com</string>
</dict>
</plist>